@using MellonBank.Models
@model EditAccount
@{
    ViewData["Title"] = "Edit Account";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
   
    <div class="col-md-4">
        <form asp-action="EditAccount" method="post">
            <h2>@ViewBag.Message</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input type="hidden" asp-for="AccountNumber" class="form-control" aria-required="true"  value="@Model.AccountNumber" />
                <span asp-validation-for="AccountType" class="text-danger"></span>
            </div>
            
                <div class="form-floating mb-3">
                    <input asp-for="AccountType" class="form-control" aria-required="true" placeholder="AccountType" value="@Model.AccountType" />
                    <label asp-for="AccountType">Account Type</label>
                    <span asp-validation-for="AccountType" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ManagementBranch" class="form-control" aria-required="true" placeholder="ManagementBranch" value="@Model.ManagementBranch" />
                <label asp-for="ManagementBranch">Management Branch</label>
                <span asp-validation-for="ManagementBranch" class="text-danger"></span>
            </div>
            
            <button type="submit" class="w-100 btn btn-lg btn-primary">Edit</button>
        </form>
