@model MellonBank.Areas.Identity.Data.MellonBankUser


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        .customer-details {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #040404;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="customer-details">
        <h1>User Details</h1>
    

                <label for="name">FirstName:</label>
                <p id="name">@Model.FirstName</p>

                <label for="lastName">LastName:</label>
                <p id="lastName">@Model.LastName</p>

                <label for="email">Email:</label>
                <p id="email">@Model.Email</p>

                <label for="AFM">AFM:</label>
                <p id="name">@Model.AFM</p>

                <label for="email">Phone:</label>
                <p id="email">@Model.PhoneNumber</p>

                <label for="email">Address:</label>
                <p id="email">@Model.Address</p>



                <!-- Add more labels and properties as needed -->
         
     
    </div>

</body>
</html>
